
  table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 80%;
  }

td {
  font-size: 15px;
}

.columna0 {
  flex-direction: row-reverse;
}

  .columna1_table {
    text-align: start;
  }

  .columna2_table {
text-align: center;
  }

  .columna3_table {
    text-align: end;
  }

  img {
    width: 80px
  }

  .centrado {
    width: 80%;
    background-color: tomato;
    height: 120px;
    width: 80%;
    place-items: center;
    justify-content: center;
    display: grid;
  }

  .columna1 {
    display: flex;
    background-color: lightcyan;
    width: 100%;
    resize: both;
    height: 350px;
    flex-wrap: wrap;
  }

  .article1 {
    flex: 300px;
    margin: 10px;
    background-color: lightgreen;
  }

  .columna2 {
    margin-top: 70px;
    display: flex;
    width: 100%;
    resize: both;
    height: 200px;
  }

  .article2 {
    max-width: 30%;
    min-width: 150px;
    background-color: lightgreen;
  }

  .article3 {
    flex: 300px;
    background-color: rgb(238, 144, 222);
  }

  .article4 {
    max-height: 50px;
    background-color: lightgreen;
  }

  .article5 {
    background-color: rgb(238, 144, 222);
    place-items: center;
    justify-content: center;
  }

  .columna3 {
    margin-top: 70px;
    margin-bottom: 100px;
    resize: both;
    overflow: auto;
    display: grid;
    grid-template-rows: 50px auto 50px;
  }








  .columna4 {
    grid-template-columns: 250px auto 250px;
    grid-template-rows: 70px auto 70px;
    resize: both;
    overflow: auto;
    display: grid;
    background-color: lightgoldenrodyellow;
    margin-bottom: 300px;
  }

  .art1 {
    grid-column: 1 / 4;
    background-color: lightcoral;
  }

  .art2 {
    grid-column: 1 / 2;
    background-color: lightgreen;
  }

  .art3 {
    grid-column: 2 / 3;
    background-color: rgb(238, 200, 144);
  }

  .art4 {
    grid-column: 3 / 4;
    background-color: lightgreen;
  }

  .art5 {
    grid-column: 1 / 4;
    background-color: lightcoral;
  }







  .columna5 {
    display: flex;
    background-color: lightcyan;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
  }

  .article10 {
    background-color: lightgreen;
    min-width: 400px;
    flex: 400px;
  }

  .article11 {
    background-color: rgb(222, 144, 238);
    min-width: 400px;
    flex: 400px;
  }

  .article12 {
    background-color: rgb(144, 235, 238);
    min-width: 400px;
    flex: 400px;
  }

  .article13 {

    background-color: rgb(238, 221, 144);
    min-width: 400px;
    flex: 400px;
  }




  .columna6 {
    margin-top: 300px;
    display: flex;
    background-color: lightcyan;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
  }

  .article17 {
    background-color: lightgreen;
    min-width: 400px;
    flex: 400px;
    max-width: 400px;
  }

  .article16 {
    background-color: rgb(222, 144, 238);
    min-width: 400px;
    flex: 400px;
    max-width: 400px;
  }

  .article15 {
    background-color: rgb(144, 235, 238);
    min-width: 400px;
    flex: 400px;
    max-width: 400px;
  }

  .article14 {
    background-color: rgb(238, 221, 144);
    min-width: 400px;
    flex: 400px;
    max-width: 400px;
  }